@import '@/styles/common';

.checkout-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  @include theme(color, text-01);
}

.checkout-empty__icon {
  font-size: 120px !important;
}
