@import '@/styles/common';

.select-wrapper {
  min-width: 150px;
  display: flex;
  flex-direction: column;
}

.select__error {
  @include theme(background-color, text-error);
  font-size: 0.75rem;
  line-height: 1.66;
  letter-spacing: 0.03333em;
  margin: 3px 14px 0 14px;
}
