@import '@/styles/common';

.modal {
  position: fixed;
  z-index: 1101;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include theme(background-color, backdrop-color);
}

.modal__card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  min-height: 300px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 8px;
  // background-color: red;
  @include theme(background-color, card-background-04);
}

.modal__card__header {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.modal__card__header__title {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.334;
  letter-spacing: 0em;
  @include theme(color, text-01);
}

.modal__card__close {
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  margin-left: auto;
}

.modal__card__content {
}
