// Переменные для светлой темы
$light: (
  card-background-01: #ffffff,
  card-background-02: #fbfbfb,
  card-background-03: #f2f2f2,
  card-background-04: #f5f5f5,
  card-background-05: rgba(0, 0, 0, 0.6),
  text-01: #070707,
  text-02: rgba(0, 0, 0, 0.87),
  text-03: #99a3ae,
  text-04: #212121,
  text-error: #d32f2f,
  white: #ffffff,
  purple: #9c27b0,
  red: #f81155,
  blue: #03a9f4,
  backdrop-color: rgba(0, 0, 0, 0.23),
);

// Переменные для темной темы
$dark: (
  card-background-01: #ffffff,
  card-background-02: #353535,
  card-background-03: #3f3f3f,
  card-background-04: #616161,
  card-background-05: rgba(255, 255, 255, 0.6),
  text-01: #f8f8f8,
  text-02: rgba(255, 255, 255, 0.87),
  text-03: #99a3ae,
  text-04: #cfcfcf,
  text-error: #d32f2f,
  white: #ffffff,
  purple: #9c27b0,
  red: #f81155,
  blue: #03a9f4,
  backdrop-color: rgba(0, 0, 0, 0.43),
);

/*
@import '@/styles/common';
@include theme(background-color, card-background-02);
*/
