@import '@/styles/common';

.checkout {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

.checkout__number {
  position: absolute;
  min-width: 12px;
  height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border-radius: 50%;
  @include theme(background-color, card-background-05);
  @include theme(color, white);
  right: 0;
  bottom: 0;
  transform: translate(-60%, -60%);
  font-size: 9px;
}
